@import "../../styles/colors";
.fav-list-comp {
  height: 100%;
  width: 100%;

  &.flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .no-salad-label {
    text-align: center;
    color: $primary-dark;
    font-weight: bold;
    font-size: 2em;

    span {
      font-size: 0.7em;
      font-weight: normal;
    }
  }
}
