@import "../../styles/colors";
@mixin get-color($color, $colorLight) {
  border-color: $color;
  .header-container {
    background-color: $colorLight;
    color: $color;
  }
}
.salad-overview-item-comp {
  width: 22em;
  min-height: 100px;
  border: 2px solid;
  border-radius: 8px;
  overflow-x: hidden;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &.lettuces {
    @include get-color($primary, $green-100);
  }

  &.toppings {
    @include get-color($secondary, $orange-100);
  }

  &.dressings {
    @include get-color($secondary-dark, $deep-orange-100);
  }

  .header-container {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 0.6rem 1rem;
  }

  .content {
    padding: 0.5rem 1rem;

    span {
      &:not(:last-child)::after {
        content: ", ";
      }
    }
  }
}
