//@import "../../../node_modules/react-tabs/style/react-tabs.scss";
@import "../../styles/colors";
.sm-ingredients-comp {
  width: 50%;

  .salad-tab-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 1.5rem;

    .salad-tab {
      padding: 0.5rem 1rem;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-left: 2px solid;
      border-top: 2px solid;
      border-right: 2px solid;
      cursor: pointer;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;

      &--selected {
        transform: scale(1.15) translateY(-2px);
        color: white !important;

        &.lettuces-tab {
          background-color: $primary;
        }

        &.toppings-tab {
          background-color: $secondary;
        }

        &.dressings-tab {
          background-color: $secondary-dark;
        }
      }
    }
  }

  .salad-tab-panel {
    //border-radius: 5px;
    overflow: auto;
    &--selected {
      margin-left: 0.6rem;
      height: 25em;
      border-top: 2px solid;
    }
  }

  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
}
