@import "../../styles/colors";
.fav-comp {
  height: 100%;
  width: 100%;
  position: relative;

  //.section-footer {
  //  background-color: $primary-light;
  //  height: 6em;
  //  width: 100%;
  //  position: absolute;
  //  bottom: 0;
  //  border-right: 1px solid $primary-dark;
  //}
}
