@import "../../styles/colors";
.fav-comp {
  height: 100%;
  min-width: 30em;
  width: 40vw;
  position: relative;

  .list-container {
    height: calc(100% - 6em);
    overflow-y: auto;
    width: 100%;
  }
}
