
.salad-maker-comp {
  @import "../../../node_modules/react-tabs/style/react-tabs.scss";
  height: 100%;
  min-width: 52em;
  width: 65vw;
  position: relative;
  display: flex;
  justify-content: space-around;
}
