.ingredient-list-item-comp {
  padding: 1rem 1.3rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;

  .left-part {
    display: flex;
  }

  &:hover {
    background-color: #FAFAFA;
  }

  .img-container {
    width: 80px;
    height: 60px;
    background-position: center;
    background-size: cover;
  }

  .name {
    margin-left: 1rem;
  }
}
